/* Estilo básico da pagina */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

/* Estilo do corpo da página */
body {
    background-color: #f4f4f4;
    color: #333;
}

nav {
    background-color: #222831;
    border-bottom: 3px solid #8794a7;
    height: 80px;
}

#menu {
    list-style: none;
    float: right;
    margin-top: 27px;
}

.item{
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
}

.item a {
    color: #8794a7;
    text-decoration: none;

}

.item a:hover{
    color:#a3cbcb ;
}

/* Estilo da logo */
h1 {
    color: #8794a7;
    font-size: 32px;
    position: absolute;
    top: 15px;
    left: 15px;
}

h1:hover {
    color:#9ab4b4;

}
/* Estilo do catálogo de produtos */
.catalogo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

/* Estilo dos produtos individuais */
.produto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.produto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.produto h2 {
    font-size: 18px;
    margin: 10px 0;
}

.produto p {
    font-size: 16px;
    color: #666;
}

.produto button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.produto button:hover {
    background-color: #555;
}

/* Estilo do rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}