/* Estilo básico da pagina */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    }
    
    /* Estilo do corpo da página */
    body {
    background-color: #f4f4f4;
    color: #333;
    }
    
    
    nav {
    background-color: #222831;
    border-bottom: 3px solid #8794a7;
    height: 80px;
    position: fixed;
    width: 100%;
    }
    
    #menu {
    list-style: none;
    float: right;
    margin-top: 27px;
    }
    
    .item{
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
    transition: .5s;
    }
    
    
    .item:last-child{
        margin-right: 70px;
    }

    #itemcatalogo {
        margin-right: 260px ;
    }
    
    .item a {
    color: #8794a7;
    text-decoration: none;
    
    }
    
    .item a:hover{
    color:#a3cbcb ;
    }

    #iconenav {
        font-size: 25px;
    }

    #iconenav:last-child {
        margin-right: 10px;
    }


    
    /* Estilo da logo */

    h1 {
    color: #8794a7;
    font-size: 32px;
    position: absolute;
    top: 15px;
    left: 70px;
    transition: .5s;
    }
    
    h1:hover {
    color:#9ab4b4;
    font-size: 40px;
    
    }

    #instagram {
        font-size: 30px;
    }
    
    /* Estilo do catálogo de produtos */
    .catalogo {
    padding-top:100px;
    padding-bottom:40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    margin: 0 auto;
    max-width: 1350px;
    }
    
    /* Estilo dos produtos individuais */
    .produto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    height: 475px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: .5s;
    }
    
    .produto:hover{
    width: 320px;
    }
    
    .produto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    }
    
    .produto h2 {
    font-size: 18px;
    margin: 10px 0;
    }
    
    .produto p {
    font-size: 16px;
    color: #666;
    }
    
    .produto button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 18px;
    }
    
    .produto button:hover {
    background-color: #555;
    }
    
    .ous{
    margin-bottom: 33px;
    }
    
    /* Estilo do rodapé */
    footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    }